# MasMovil Monorepo bazelrc
# Check https://docs.bazel.build/versions/main/guide.html#bazelrc


# The following commands inherit from (and are more specific than) `build`:
# test, run, clean, mobile-install, info, print_action, config, cquery, and aquery
build --verbose_failures

# Definition of --config=remote-cache
build:remote-cache --remote_http_cache=https://storage.googleapis.com/mm-cloudbuild-bazel-cache
build:remote-cache --google_default_credentials=true


# Definition of --config=engflow
build:engflow --jobs=120
build:engflow --crosstool_top=@rbe_default//cc:toolchain
build:engflow --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:engflow --extra_toolchains=@rbe_default//config:cc-toolchain
build:engflow --extra_execution_platforms=@rbe_default//config:platform
build:engflow --host_platform=@rbe_default//config:platform
build:engflow --platforms=@rbe_default//config:platform
build:engflow --define=EXECUTOR=remote
build:engflow --incompatible_strict_action_env=true
build:engflow --remote_timeout=3600
build:engflow --host_platform_remote_properties_override='properties:{name:"cache-silo-key" value:"1.3"}'
build:engflow --remote_executor=grpcs://10.0.0.10:443
build:engflow --google_default_credentials
build:engflow --tls_certificate=engflow-ca.crt
build:engflow --bes_backend=grpcs://masmovil.engflow.com/
build:engflow --bes_results_url=https://quartz.cluster.engflow.com/invocation/


build:engflow-local --config=engflow --remote_executor=grpcs://masmovil.engflow.com/ --cpu=k8 --host_cpu=k8

build:engflow-local-nodownload --config=engflow-local --experimental_inmemory_jdeps_files --experimental_inmemory_dotd_files --experimental_remote_download_outputs=minimal


try-import %workspace%/user.bazelrc
